<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <!-- Adding Inter Font -->
    <style>
        svg[class*="plot"] {
            width-max: 100% !important;
            /* override the width to 70% */
            display: block;
            /* make sure the SVG acts like a block-level element */
            margin: 0 auto;
                                /* center the SVG block horizontally */
            max-height: 100%; /* Ensures the SVG doesn't grow beyond its' container */
        }
    </style>
        
    <style>
        /* hide checkbox */
        form[class$="-checkbox"] {
            display: none !important;
        }

    </style>
    

    <style>
        /* hide checkbox */
        form[class$="-checkbox"] {
            display: none !important;
        }

    </style>

    <style>
        label {
            font-family: "Inter", Sans-serif;
        }
    </style>


    <title>Bank failures</title>
    <link rel="stylesheet" type="text/css" href="/static/inspector.css">
    <script src="https://cdn.jsdelivr.net/npm/@graphcms/zoid@9.0.64-alpha.1/lib/zoid.js"></script>
    <script>
        // 0v1
        const child_name = 'timeline'; // Define the child's name here

        // Function to receive a message from another component (parent or child)
        function receiveMessage(message) {
            console.log(`Message received in ${child_name}:`, message);

            const source = message.source || 'Unknown';
            const key = message.key;
            const value = message.value;

            console.log(`Message received from ${source}.`);

            // Handle action based on the key-value pair
            switch (key) {
                case 'change_background_color':
                    if (value && value.color) {
                        document.body.style.backgroundColor = value.color;
                    }
                    break;

                case 'refresh_window_url':
                    if (value && value.url) {
                        window.location.href = value.url;
                    }
                    break;
                case 'refresh_timeline':
                    console.log("refreshing timeline plot!")
                    loadPlot();
                    break;

                default:
                    console.log("Unknown message key:", key);
                    break;
            }
                


            // Send acknowledgement back to the parent
            sendMessageToParent('ack', 'Acknowledged');
        }

        // Function to send message to parent
        function sendMessageToParent(key, value) {
            if (window.xprops[`receiveParentMessageFrom_${child_name}`]) {
                window.xprops[`receiveParentMessageFrom_${child_name}`]({
                    source: child_name,
                    key: key,
                    value: value
                });
            }
        }
        
        // Initialize function
        function initialize() {
            if (typeof window.xprops === 'undefined') {
//                console.error('window.xprops is undefined (or parent not found)');
                return;
            }

            // Register the receiveMessage function
            if (window.xprops.registerChildCallback) {
                window.xprops.registerChildCallback(receiveMessage);
            }

            // Generalized function to send message to any child
            window.sendMessageToChild = function(target_child_name, key, value) {
                const message = {
                    source: child_name, // use the generalized child_name
                    key: key,
                    value: value
                };
                window.xprops.relayMessageToChild(target_child_name, message);
            };
        }

        window.addEventListener('DOMContentLoaded', initialize);

        // Zoid configuration
        zoid.create({
            tag: `${child_name}-component`, // use the generalized child_name
            props: {
                relayMessageToChild: {
                    type: 'function',
                    required: false
                },
                registerChildCallback: {
                    type: 'function',
                    required: false
                },
                [`receiveParentMessageFrom_${child_name}`]: { // use the generalized child_name
                    type: 'function',
                    required: false
                }
            }
        });
    </script>
    

    <script type="module">
    import define from "/static/index.js";
    import { Runtime, Library, Inspector } from "/static/runtime.js";

    const runtime = new Runtime();
    const csvName = 'bfb-data@2.csv';
    
     // Define your sample data
    const dataArrayGivenSAMPLE = [
        {
            "Bank Name, City, State": "TEST DATA PASSED Heartland Tri-State Bank, Elkhart, KS",
            "Press Release (PR)": "PR-058-2023",
            "Closing Date": "28-Jan-23",
            "Approx. Asset (Millions)": "$139.00",
            "Approx. Deposit (Millions)": "$130.00",
            "Acquirer & Transaction": "Dream First Bank, National Association, to assume all of the deposits and substantially all of the assets of Heartland Tri-State Bank."
        },
        // ... other records
    ];
    
    const dataArrayGiven = {{ timeline_data|safe }};

    const dataArrayGiven4 = [
  {
    "Bank Name, City, State": "Heartland Tri-State Bank, Elkhart, KS",
    "Press Release (PR)": "PR-058-2023",
    "Closing Date": "28-Jan-23",
    "Approx. Asset (Millions)": "139.00",
    "Approx. Deposit (Millions)": "$130.00",
    "Acquirer & Transaction": "Dream First Bank, National Association, to assume all of the deposits and substantially all of the assets of Heartland Tri-State Bank."
  },
  {
    "Bank Name, City, State": "First Republic Bank, San Francisco, CA",
    "Press Release (PR)": "PR-034-2023",
    "Closing Date": "1-Feb-23",
    "Approx. Asset (Millions)": "229,100.00",
    "Approx. Deposit (Millions)": "$103,900.00",
    "Acquirer & Transaction": "JPMorgan Chase Bank, National Association, to assume all of the deposits and substantially all of the assets of First Republic Bank."
  },
  {
    "Bank Name, City, State": "Signature Bank, New York, NY",
    "Press Release (PR)": "PR-018-2023",
    "Closing Date": "12-Mar-23",
    "Approx. Asset (Millions)": "110,400.00",
    "Approx. Deposit (Millions)": "$88,600.00",
    "Acquirer & Transaction": "Flagstar Bank, NA, to assume all deposits and certain loan portfolios of Signature Bank."
  },
  {
    "Bank Name, City, State": "Silicon Valley Bank, Santa Clara, CA",
    "Press Release (PR)": "PR-019-2023",
    "Closing Date": "10-Apr-23",
    "Approx. Asset (Millions)": "209,000.00",
    "Approx. Deposit (Millions)": "$175,400.00",
    "Acquirer & Transaction": "First–Citizens Bank & Trust Company to assume all deposits and loans of Silicon Valley Bank."
  }
];



    // Attach the loadPlot function to the window object to make it globally accessible.
    window.loadPlot = function() {
        // Clear the body content first.
        document.body.innerHTML = '';

        // Load the plot.
        //csvName runtime.module((runtime, observer) => define(runtime, observer, csvName), Inspector.into(document.body));
        runtime.module((runtime, observer) => define(runtime, observer, csvName, dataArrayGiven), Inspector.into(document.body));
    }
</script>


</head>
<body>

<script type="module">

    // Load the plot initially.
    loadPlot();

    // Wait for 5 seconds and load the plot again.
    //setTimeout(() => { loadPlot(); }, 5000);

</script>

</body>
</html>
